.pin-3-17 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.pin-3-1-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-35xl);
}
.finder8 {
  color: var(--color-blueviolet-200);
}
.ekasi-spotfinder6 {
  margin-top: -2px;
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.container-94-inner,
.ekasi-spotfinder-frame,
.frame-parent28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ekasi-spotfinder-frame {
  align-self: stretch;
  height: 15px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.container-94-inner,
.frame-parent28 {
  flex-direction: column;
}
.frame-parent28 {
  align-self: stretch;
}
.container-94-inner {
  width: 124px;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.find3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 34px;
}
.textbox-1-frame,
.textbox-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox-13 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-300);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-7xs);
}
.textbox-1-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.search-icon3 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.text10 {
  height: 0;
  width: 0;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-manrope);
  color: var(--color-white-200);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.button-33,
.container-133,
.container-94 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-33 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-base) var(--padding-base);
  background-color: var(--color-blueviolet-200);
  border-radius: var(--br-7xl);
  overflow: hidden;
  justify-content: flex-start;
}
.container-133,
.container-94 {
  background-color: var(--color-white-200);
  box-sizing: border-box;
}
.container-133 {
  width: 390px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 8px 17px rgba(23, 26, 31, 0.15);
  border-radius: var(--br-19xl);
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-5xs);
  gap: var(--gap-76xl);
  max-width: 100%;
  color: var(--color-gray-300);
  font-family: var(--font-manrope);
}
.container-94 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  justify-content: space-between;
  padding: 0 var(--padding-mid) var(--padding-9xs) var(--padding-36xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 102%;
  flex-shrink: 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image-57-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.container-94-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.text11 {
  width: 0;
  height: 0;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.text-frame {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.entertainment3 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 68px;
  font-weight: 400;
  font-family: var(--font-lexend);
  text-align: center;
  z-index: 1;
}
.textbox-38,
.textbox-38-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.textbox-38 {
  height: 67px;
  width: 592px;
  border-radius: 25px;
  background-color: var(--color-white-200);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) var(--padding-24xl);
  gap: var(--gap-45xl);
  max-width: calc(100% - 0px);
}
.textbox-38-wrapper {
  width: 1104px;
  height: 65px;
  justify-content: center;
  max-width: 100%;
}
.image-59-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.boston-harbor-islands,
.monday-saturday {
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.phone-1-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div6 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 106px;
}
.frame-parent32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-1 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarharborislandsgmailcom {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.boston-harbor-islands-15-stat-parent,
.frame-parent31,
.frame-parent33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.boston-harbor-islands-15-stat-parent,
.frame-parent31 {
  flex-direction: column;
}
.frame-parent31 {
  color: var(--color-slategray);
}
.boston-harbor-islands-15-stat-parent {
  align-self: stretch;
}
.direction1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-blueviolet-200);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-31-wrapper,
.button-311 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-311 {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet-200);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-311:hover,
.button-331:hover,
.button-35:hover,
.button-38:hover,
.button-40:hover,
.button-42:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-blueviolet-100);
  box-sizing: border-box;
}
.button-31-wrapper {
  width: 316px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container-98-inner,
.frame-parent30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent30 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.container-98-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-98,
.image-60-icon {
  max-width: 100%;
  overflow: hidden;
}
.container-98 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  cursor: pointer;
}
.image-60-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  flex-shrink: 0;
  object-fit: cover;
}
.boylston-st-boston,
.monday-saturday1 {
  position: relative;
  line-height: 26px;
}
.monday-saturday1 {
  align-self: stretch;
}
.phone-2-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div7 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 111px;
}
.frame-parent36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-2 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarboylstongmailcom {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.boylston-st-boston-parent,
.frame-parent35,
.frame-parent37 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.boylston-st-boston-parent,
.frame-parent35 {
  flex-direction: column;
}
.frame-parent35 {
  color: var(--color-slategray);
}
.boylston-st-boston-parent {
  align-self: stretch;
}
.direction2 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-blueviolet-200);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-33-wrapper,
.button-331 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-331 {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet-200);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-33-wrapper {
  width: 312px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container-99-inner,
.frame-parent34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent34 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.container-99-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-99,
.image-61-icon {
  max-width: 100%;
  overflow: hidden;
}
.container-99 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.image-61-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  flex-shrink: 0;
  object-fit: cover;
}
.congress-st-boston,
.monday-saturday2 {
  position: relative;
  line-height: 26px;
}
.monday-saturday2 {
  align-self: stretch;
}
.phone-3-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div8 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 117px;
}
.frame-parent40 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-3 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarcongressgmailcom {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.congress-st-boston-parent,
.frame-parent39,
.frame-parent41 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.congress-st-boston-parent,
.frame-parent39 {
  flex-direction: column;
}
.frame-parent39 {
  color: var(--color-slategray);
}
.congress-st-boston-parent {
  align-self: stretch;
}
.direction3 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-blueviolet-200);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-35,
.button-35-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-35 {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet-200);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-35-wrapper {
  width: 306px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-parent38 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.container-100-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-100,
.container-100-inner,
.container-98-parent {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container-100 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.container-98-parent {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-17xl);
  grid-template-columns: repeat(3, minmax(276px, 1fr));
}
.image-62-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.kendall-square-boston,
.monday-saturday3 {
  position: relative;
  line-height: 26px;
}
.monday-saturday3 {
  align-self: stretch;
}
.phone-4-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-4-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div9 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 113px;
}
.frame-parent44 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-4 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-4-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarkendallsquaregmailcom {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.frame-parent43,
.frame-parent45,
.kendall-square-boston-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-parent43,
.kendall-square-boston-parent {
  flex-direction: column;
}
.frame-parent43 {
  color: var(--color-slategray);
}
.kendall-square-boston-parent {
  align-self: stretch;
}
.direction4 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-deepskyblue-100);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-38,
.button-38-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-38 {
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue-100);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-38:hover,
.button-40:hover,
.button-42:hover {
  border: 1px solid var(--color-cornflowerblue-200);
}
.button-38-wrapper {
  width: 298px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container-101,
.container-101-inner,
.frame-parent42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent42 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.container-101,
.container-101-inner {
  box-sizing: border-box;
}
.container-101-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.container-101 {
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-xl);
  min-width: 276px;
}
.image-63-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.cambridge-st-allston,
.monday-saturday4 {
  position: relative;
  line-height: 26px;
}
.monday-saturday4 {
  align-self: stretch;
}
.phone-5-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-5-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div10 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 114px;
}
.frame-parent48 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-5 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-5-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarcambridgegmailcom {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.cambridge-st-allston-boston-parent,
.frame-parent47,
.frame-parent49 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cambridge-st-allston-boston-parent,
.frame-parent47 {
  flex-direction: column;
}
.frame-parent47 {
  color: var(--color-slategray);
}
.cambridge-st-allston-boston-parent {
  align-self: stretch;
}
.direction5 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-deepskyblue-100);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-40,
.button-40-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-40 {
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue-100);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-40-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container-102,
.container-102-inner,
.frame-parent46 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent46 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.container-102,
.container-102-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-102 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-xl);
}
.text12 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.text-wrapper1 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.chevron-left-large1 {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-61 {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  opacity: 0.4;
  min-width: 27px;
  text-align: left;
}
.b11 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 6px;
}
.container-401 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-smi);
  color: var(--color-white-200);
}
.b12 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.container-391 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs);
}
.b13 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 7px;
}
.container-411 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-7xs)
    var(--padding-smi);
}
.b14 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.container-421 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-2xs) var(--padding-7xs)
    var(--padding-smi);
}
.b15 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.container-431 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs);
}
.b16 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 11px;
}
.container-441 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs) var(--padding-7xs)
    var(--padding-2xs);
}
.b17 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 15px;
}
.container-451 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-4xs);
}
.text13 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.text-wrapper2 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.chevron-right-large1 {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-71 {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  min-width: 27px;
  text-align: left;
}
.button-6-group,
.container-102-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.button-6-group {
  width: 360px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xs);
}
.container-102-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-3xs);
  min-width: 276px;
}
.image-64-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.haviland-st-boston,
.monday-saturday5 {
  position: relative;
  line-height: 26px;
}
.monday-saturday5 {
  align-self: stretch;
}
.phone-6-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-6-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div11 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 110px;
}
.frame-parent52 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-6 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-6-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarhavilandgmailcom {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.frame-parent51,
.frame-parent53,
.haviland-st-boston-ma-02115-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-parent51,
.haviland-st-boston-ma-02115-parent {
  flex-direction: column;
}
.frame-parent51 {
  color: var(--color-slategray);
}
.haviland-st-boston-ma-02115-parent {
  align-self: stretch;
}
.direction6 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-deepskyblue-100);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-42,
.button-42-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-42 {
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue-100);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-42-wrapper {
  width: 306px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-parent50 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.container-103-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-101-parent,
.container-103,
.container-103-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container-103 {
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 276px;
}
.container-101-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-17xl);
}
.container-97,
.frame-parent29 {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.frame-parent29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  font-size: var(--font-size-base);
}
.container-97 {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-55xl) var(--padding-113xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-manrope);
}
.container-97,
.entertainment1,
.entertainment2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment2 {
  width: 1440px;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
  padding: 0 0 var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-10xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 102%;
}
.entertainment1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .container-98-parent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(276px, 478px));
  }
  .container-97 {
    padding-top: var(--padding-29xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .entertainment2 {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .entertainment3 {
    font-size: var(--font-size-19xl);
    line-height: 54px;
  }
}
@media screen and (max-width: 750px) {
  .container-94 {
    padding-left: var(--padding-8xl);
    box-sizing: border-box;
  }
  .textbox-38 {
    gap: var(--gap-13xl);
  }
  .container-98-parent {
    gap: var(--gap-lg);
    grid-template-columns: minmax(276px, 1fr);
  }
  .container-101-parent,
  .frame-parent29 {
    gap: var(--gap-lg);
  }
  .container-97 {
    padding-left: var(--padding-47xl);
    padding-top: var(--padding-12xl);
    padding-right: var(--padding-47xl);
    box-sizing: border-box;
  }
  .entertainment2 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .container-133 {
    gap: var(--gap-28xl);
  }
  .entertainment3 {
    font-size: var(--font-size-10xl);
    line-height: 41px;
  }
  .textbox-38 {
    gap: var(--gap-base);
  }
  .frame-parent34,
  .frame-parent38,
  .frame-parent42,
  .frame-parent46 {
    gap: var(--gap-6xl);
  }
  .button-6-group {
    flex-wrap: wrap;
  }
  .frame-parent50 {
    gap: var(--gap-6xl);
  }
  .container-97 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
