.pin-3-114 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.find-nearby-locations {
  position: relative;
  line-height: 26px;
}
.search-icon7 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.find-a-store {
  width: 133px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 22px;
  color: var(--color-silver);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.find-nearby-locations-to-order-parent,
.textbox-33 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox-33 {
  height: 37px;
  border-radius: var(--br-lg);
  background-color: var(--color-white-200);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-7xs);
  gap: var(--gap-7xs);
}
.find-nearby-locations-to-order-parent {
  height: 73px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.love-heart-pin-7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pokebar-harbor-islands {
  position: relative;
  line-height: 26px;
}
.love-heart-pin-7-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.boston-harbor-15 {
  position: relative;
  line-height: 22px;
}
.boston-harbor-15-state-street-wrapper,
.love-heart-pins {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.boston-harbor-15-state-street-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
}
.love-heart-pins {
  flex-direction: column;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.select {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 42px;
}
.button-63 {
  border-radius: var(--br-lg);
  background-color: var(--color-lightgray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 78.5px var(--padding-6xs) 79.5px;
}
.km-20-min {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 67px;
}
.km-20-min-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-slategray);
}
.button-63-parent,
.button2,
.container-96 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button-63-parent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.button2,
.container-96 {
  align-self: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
}
.button2 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.container-96 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-blueviolet-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
  color: var(--color-slategray);
}
.love-heart-pin-8 {
  border-color: var(--color-white-100);
  accent-color: #fff;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pokebar-boylston-st {
  position: relative;
  line-height: 26px;
}
.love-heart-pin-8-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.boylston-st-boston2 {
  position: relative;
  line-height: 22px;
}
.boylston-st-boston-wrapper,
.frame-parent109 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.boylston-st-boston-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
}
.frame-parent109 {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.select1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 42px;
}
.button-64 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-blueviolet-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-58xl) var(--padding-8xs)
    var(--padding-59xl);
}
.km-30 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 82px;
}
.km-30-min-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
}
.button-64-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.container-97-inner,
.container-971 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container-97-inner {
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
  color: var(--color-blueviolet-200);
}
.container-971 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.love-heart-pin-9 {
  border-color: var(--color-white-100);
  accent-color: #fff;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pokebar-congress-st {
  position: relative;
  line-height: 26px;
}
.love-heart-pin-9-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.congress-st-boston2 {
  position: relative;
  line-height: 22px;
}
.congress-st-boston-wrapper,
.frame-parent110 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.congress-st-boston-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
}
.frame-parent110 {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.select2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 42px;
}
.button-65 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-blueviolet-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-58xl) var(--padding-8xs)
    var(--padding-59xl);
}
.km-40 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 72px;
}
.km-40-min-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
}
.button-65-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.container-98-child,
.container-981 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container-98-child {
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
  color: var(--color-blueviolet-200);
}
.container-981 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.love-heart-pin-10 {
  border-color: var(--color-white-100);
  accent-color: #fff;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pokebar-cambridge {
  position: relative;
  line-height: 26px;
}
.love-heart-pin-10-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cambridge-st-allston2 {
  position: relative;
  line-height: 22px;
}
.cambridge-st-allston-boston-wrapper,
.frame-parent111 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cambridge-st-allston-boston-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
}
.frame-parent111 {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.select3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 42px;
}
.button-66 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-blueviolet-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-58xl) var(--padding-8xs)
    var(--padding-59xl);
}
.km-45 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 72px;
}
.km-45-min-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
}
.button-66-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.container-96-parent,
.container-99-child,
.container-991 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container-99-child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-17xl);
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-blueviolet-200);
}
.container-96-parent,
.container-991 {
  flex-direction: column;
}
.container-991 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  padding: var(--padding-base);
  gap: var(--gap-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.container-96-parent {
  height: 554px;
  flex: 1;
  padding: 0 0 var(--padding-103xl);
  gap: var(--gap-xs);
  max-width: calc(100% - 24px);
}
.home-button {
  height: 270px;
  width: 10px;
  position: relative;
  border-radius: 5px;
  background-color: var(--color-silver);
}
.container-1001,
.container-95,
.frame-parent108 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-1001 {
  height: 540px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-5xs) var(--padding-7xl) 0;
  box-sizing: border-box;
}
.container-95,
.frame-parent108 {
  max-width: 100%;
}
.container-95 {
  align-self: stretch;
  height: 563px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xs) 0 var(--padding-2xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.frame-parent108 {
  width: 492px;
  flex-direction: column;
  gap: var(--gap-13xl);
  min-width: 492px;
}
.image-53-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.location-on-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.location-on-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.text21 {
  height: 0;
  width: 0;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-manrope);
  color: var(--color-white-200);
  text-align: left;
  display: inline-block;
}
.button-611 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi-5) var(--padding-base-5) var(--padding-base-5);
  background-color: var(--color-blueviolet-200);
  border-radius: var(--br-7xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.location-on-icon1 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.location-on-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.text22 {
  height: 0;
  width: 0;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.button-60,
.button-60-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-60 {
  align-self: stretch;
  border-radius: var(--br-7xl);
  background-color: var(--color-white-200);
  border: 1px solid var(--color-blueviolet-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-sm) var(--padding-sm);
  z-index: 1;
}
.button-60-wrapper {
  width: 51px;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
}
.button-61-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.shopping-cart-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.text23 {
  height: 0;
  width: 0;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-lightslategray);
  text-align: left;
  display: inline-block;
}
.button-59,
.button3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-59 {
  cursor: pointer;
  border: 1px solid var(--color-lightslategray);
  padding: var(--padding-5xs) var(--padding-2xs) var(--padding-2xs);
  background-color: var(--color-white-200);
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-2xl);
  overflow: hidden;
  justify-content: flex-start;
  z-index: 1;
}
.button3 {
  width: 91px;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
}
.container1,
.frame-parent112 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent112 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 49px;
}
.container1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
}
.shopping-cart-icon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.shopping-cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.nearby-locations-containers {
  height: 0;
  width: 0;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.button-57 {
  width: 41px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white-200);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-2xs) var(--padding-xs);
  z-index: 1;
}
.location-on-icon2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.location-on-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.select-buttons {
  height: 0;
  width: 0;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.button-56,
.nearby-locations-containers1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-56 {
  align-self: stretch;
  border-radius: var(--br-7xl);
  background-color: var(--color-white-200);
  border: 1px solid var(--color-blueviolet-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-sm) var(--padding-sm);
  z-index: 1;
}
.nearby-locations-containers1 {
  width: 51px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-blueviolet-200);
}
.shopping-cart-button {
  width: 207px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.container-group,
.frame-wrapper25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-27xl);
}
.frame-wrapper25 {
  width: 425px;
  flex-direction: row;
  padding: 0 var(--padding-17xl) var(--padding-2xs);
  box-sizing: border-box;
}
.text24 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.text-wrapper7 {
  width: 16px;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.home-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-58,
.select-buttons1 {
  display: flex;
  align-items: flex-start;
}
.button-58 {
  width: 41px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-2xl);
  background-color: var(--color-white-200);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-2xs) var(--padding-xs);
  gap: var(--gap-10xs);
  z-index: 1;
}
.select-buttons1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 223px;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.location-on-icon3 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.location-on-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.next-button-locations {
  height: 0;
  width: 0;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.button-621 {
  width: 51px;
  border-radius: var(--br-7xl);
  background-color: var(--color-white-200);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-sm) var(--padding-sm);
  z-index: 1;
}
.image-53-parent,
.love-heart-pin {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.image-53-parent {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-210xl) var(--padding-67xl) var(--padding-mid);
  box-sizing: border-box;
  position: relative;
  gap: 63px;
  min-width: 395px;
  color: var(--color-blueviolet-200);
}
.love-heart-pin {
  flex-direction: row;
  align-items: flex-end;
  gap: 132px;
}
.love-heart-pin-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.container-941,
.location-1,
.love-heart-pin-wrapper,
.screen-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-941 {
  width: 1496px;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
  padding: var(--padding-10xl) var(--padding-95xl) 240px;
  box-sizing: border-box;
  gap: var(--gap-8xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 104%;
}
.location-1,
.screen-22 {
  background-color: var(--color-white-200);
  overflow: hidden;
}
.screen-22 {
  height: 1024px;
  width: 1440px;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  flex-shrink: 0;
  flex-direction: column;
  debug_commit: 1de1738;
  max-width: 102%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-manrope);
}
.location-1 {
  width: 100%;
  height: 811px;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-parent108 {
    flex: 1;
  }
  .love-heart-pin {
    flex-wrap: wrap;
    gap: 66px;
  }
  .container-941 {
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-38xl);
    box-sizing: border-box;
  }
  .location-1,
  .screen-22 {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .frame-parent108 {
    min-width: 100%;
  }
  .container-941 {
    padding-top: var(--padding-xl);
    padding-bottom: 156px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .button-64-parent {
    flex-wrap: wrap;
  }
  .container-96-parent {
    padding-bottom: var(--padding-60xl);
    box-sizing: border-box;
  }
  .frame-parent108 {
    gap: var(--gap-base);
  }
  .image-53-parent {
    gap: var(--gap-12xl);
    padding: 149px var(--padding-24xl) var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .love-heart-pin {
    gap: 33px;
  }
  .container-941 {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .button-63-parent,
  .button-65-parent,
  .button-66-parent {
    flex-wrap: wrap;
  }
  .container-95,
  .container-96-parent {
    height: auto;
  }
  .button-61-parent {
    flex-wrap: wrap;
  }
  .frame-parent112 {
    gap: var(--gap-5xl);
  }
  .container-group {
    gap: var(--gap-4xl);
  }
  .image-53-parent,
  .select-buttons1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .image-53-parent {
    padding-right: var(--padding-xl);
  }
  .image-53-parent,
  .love-heart-pin {
    gap: var(--gap-base);
  }
  .container-941 {
    padding-bottom: var(--padding-82xl);
    box-sizing: border-box;
  }
}
