.pin-3-18 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pin-3-1-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-35xl);
}
.finder9 {
  color: var(--color-blueviolet-200);
}
.ekasi-spotfinder7 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.pin-display,
.restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.restaurant-card {
  align-self: stretch;
}
.pin-display {
  width: 124px;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.find4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 34px;
}
.textbox-1-wrapper1,
.textbox-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox-14 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-300);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-7xs);
}
.textbox-1-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.search-icon4 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.restaurant-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.text14 {
  height: 0;
  width: 0;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-manrope);
  color: var(--color-white-200);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.button-34,
.container-134 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-34 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-base) var(--padding-base);
  background-color: var(--color-blueviolet-200);
  border-radius: var(--br-7xl);
  overflow: hidden;
}
.container-134 {
  width: 390px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 8px 17px rgba(23, 26, 31, 0.15);
  border-radius: var(--br-19xl);
  background-color: var(--color-white-200);
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-76xl);
  max-width: 100%;
  color: var(--color-gray-300);
  font-family: var(--font-manrope);
}
.container-128,
.image-76-icon {
  align-self: stretch;
  max-width: 100%;
}
.container-128 {
  border-radius: var(--br-9xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-base) 0 var(--padding-20xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image-76-icon {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.locations-hours1 {
  margin: 0;
  width: 427px;
  position: relative;
  font-size: inherit;
  line-height: 68px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.locations-hours {
  width: 1176px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.image-78-icon1 {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.boston-harbor-islands1,
.monday-saturday6 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.phone-7-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-7-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div12 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 106px;
}
.frame-parent54 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-11 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-11-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarharborislandsgmailcom1 {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.directions,
.frame-parent55,
.location-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.directions,
.location-details {
  flex-direction: column;
}
.directions {
  color: var(--color-slategray);
}
.location-details {
  align-self: stretch;
}
.direction7 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-deepskyblue-100);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-83,
.button-83-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-83 {
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue-100);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-83:hover,
.button-85:hover,
.button-87:hover,
.button-88:hover,
.button-90:hover,
.button-92:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
}
.button-83-wrapper {
  width: 298px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.email-addresses,
.location-details-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.location-details-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.email-addresses {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-1321,
.image-79-icon {
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.container-1321 {
  width: 368px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 350px;
  cursor: pointer;
}
.image-79-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  object-fit: cover;
}
.boylston-st-boston1,
.monday-saturday7 {
  position: relative;
  line-height: 26px;
}
.monday-saturday7 {
  align-self: stretch;
}
.phone-8-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-8-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div13 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 111px;
}
.frame-parent58 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-12 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-12-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarboylstongmailcom1 {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.boylston-st-boston-group,
.frame-parent57,
.frame-parent59 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.boylston-st-boston-group,
.frame-parent57 {
  flex-direction: column;
}
.frame-parent57 {
  color: var(--color-slategray);
}
.boylston-st-boston-group {
  align-self: stretch;
}
.direction8 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-deepskyblue-100);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-85,
.button-85-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-85 {
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue-100);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-85-wrapper {
  width: 296px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container-133-inner,
.frame-parent56 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent56 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.container-133-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-1331,
.image-80-icon {
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.container-1331 {
  width: 368px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 350px;
}
.image-80-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  object-fit: cover;
}
.congress-st-boston1,
.monday-saturday8 {
  position: relative;
  line-height: 26px;
}
.monday-saturday8 {
  align-self: stretch;
}
.phone-9-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-9-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div14 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 117px;
}
.frame-parent62 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-13 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-13-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarcongressgmailcom1 {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.congress-st-boston-group,
.frame-parent61,
.frame-parent63 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.congress-st-boston-group,
.frame-parent61 {
  flex-direction: column;
}
.frame-parent61 {
  color: var(--color-slategray);
}
.congress-st-boston-group {
  align-self: stretch;
}
.direction9 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-deepskyblue-100);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-87,
.button-87-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-87 {
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue-100);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-87-wrapper {
  width: 298px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container-134-inner,
.frame-parent60 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent60 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-33xl);
}
.container-134-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-1341,
.image-81-icon {
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.container-1341 {
  width: 368px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 350px;
}
.image-81-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  object-fit: cover;
}
.kendall-square-boston1,
.monday-saturday9 {
  position: relative;
  line-height: 26px;
}
.monday-saturday9 {
  align-self: stretch;
}
.phone-10-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-10-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div15 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 113px;
}
.frame-parent66 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-14 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-14-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarkendallsquaregmailcom1 {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.frame-parent65,
.frame-parent67,
.kendall-square-boston-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-parent65,
.kendall-square-boston-group {
  flex-direction: column;
}
.frame-parent65 {
  color: var(--color-slategray);
}
.kendall-square-boston-group {
  align-self: stretch;
}
.direction10 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-blueviolet-200);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-88,
.button-88-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-88 {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet-200);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-88:hover,
.button-90:hover,
.button-92:hover {
  border: 1px solid var(--color-blueviolet-100);
}
.button-88-wrapper {
  width: 322px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.container-135-inner,
.frame-parent64 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent64 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.container-135-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-135,
.image-82-icon {
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.container-135 {
  width: 368px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 350px;
}
.image-82-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  object-fit: cover;
}
.cambridge-st-allston1,
.monday-saturday10 {
  position: relative;
  line-height: 26px;
}
.monday-saturday10 {
  align-self: stretch;
}
.phone-11-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-11-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div16 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 114px;
}
.frame-parent70 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-15 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-15-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarcambridgegmailcom1 {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.cambridge-st-allston-boston-group,
.frame-parent69,
.frame-parent71 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cambridge-st-allston-boston-group,
.frame-parent69 {
  flex-direction: column;
}
.frame-parent69 {
  color: var(--color-slategray);
}
.cambridge-st-allston-boston-group {
  align-self: stretch;
}
.direction11 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-blueviolet-200);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-90,
.button-90-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-90 {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet-200);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-90-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container-136-inner,
.frame-parent68 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent68 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.container-136-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container-136,
.image-83-icon {
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.container-136 {
  width: 368px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 350px;
}
.image-83-icon {
  align-self: stretch;
  height: 221px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  object-fit: cover;
}
.haviland-st-boston1,
.monday-saturday11 {
  position: relative;
  line-height: 26px;
}
.monday-saturday11 {
  align-self: stretch;
}
.phone-12-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-12-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div17 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 110px;
}
.frame-parent74 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.love-heart-pin-16 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.love-heart-pin-16-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pokebarhavilandgmailcom1 {
  position: relative;
  line-height: 26px;
  white-space: nowrap;
}
.frame-parent73,
.frame-parent75,
.haviland-st-boston-ma-02115-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-parent73,
.haviland-st-boston-ma-02115-group {
  flex-direction: column;
}
.frame-parent73 {
  color: var(--color-slategray);
}
.haviland-st-boston-ma-02115-group {
  align-self: stretch;
}
.direction12 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--color-blueviolet-200);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-92,
.button-92-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-92 {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet-200);
  padding: var(--padding-8xs) var(--padding-15xl);
  background-color: var(--color-white-200);
  width: 130px;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.button-92-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-parent72 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.container-137,
.container-137-inner {
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container-137-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
}
.container-137 {
  width: 368px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-xl);
  min-width: 350px;
}
.container-1311,
.container-137,
.days-of-week {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}
.days-of-week {
  width: 1176px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 36px 34px;
  min-height: 1070px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-manrope);
}
.container-1311 {
  margin-right: -528px;
  width: 1440px;
  height: 1174px;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-29xl) var(--padding-xl) 1058px;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  max-width: 158%;
}
.text15 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.location {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.chevron-left-large2 {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-62 {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  opacity: 0.4;
  min-width: 27px;
  text-align: left;
}
.b18 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 6px;
}
.container-402 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-smi);
  color: var(--color-white-200);
}
.b19 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.container-392 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs);
}
.b20 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 7px;
}
.container-412 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-7xs)
    var(--padding-smi);
}
.b21 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.container-422 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-2xs) var(--padding-7xs)
    var(--padding-smi);
}
.b22 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.container-432 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs);
}
.b23 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 11px;
}
.container-442 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs) var(--padding-7xs)
    var(--padding-2xs);
}
.b24 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 15px;
}
.container-452 {
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-4xs);
}
.text16 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.text-wrapper3 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.chevron-right-large2 {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-72,
.order-button,
.restaurant-logo {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.button-72 {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-3xs);
  gap: var(--gap-9xs);
  min-width: 27px;
  text-align: left;
}
.order-button,
.restaurant-logo {
  max-width: 100%;
}
.order-button {
  width: 380px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-5xs);
  font-size: var(--font-size-xs);
  font-family: var(--font-manrope);
}
.restaurant-logo {
  width: 1425px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 513px 505px 0;
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-300);
  font-family: var(--font-lexend);
}
.pin-3-19 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.menu {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 26px;
}
.frame2 {
  height: 44px;
  width: 74px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
}
.our-story {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.frame3 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
  min-width: 66px;
  white-space: nowrap;
}
.location1 {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.frame4 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
  min-width: 63px;
}
.gift-card {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.frame5,
.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame5 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  overflow: hidden;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
  min-width: 63px;
  white-space: nowrap;
}
.menu-bar {
  align-self: stretch;
  row-gap: 20px;
}
.brand-inc {
  width: 300px;
  height: 22px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  color: var(--color-slategray);
  display: inline-block;
}
.social-media-icons,
.social-media-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.social-media-icons {
  width: 368px;
  gap: var(--gap-5xl);
}
.social-media-icons-wrapper {
  width: 831px;
  padding: 87px 0 0;
  box-sizing: border-box;
}
.order-online {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 26px;
}
.button-98 {
  height: 44px;
  flex: 1;
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-mini);
  white-space: nowrap;
}
.book-a-table {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 26px;
}
.button-99,
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-99 {
  height: 44px;
  flex: 1;
  border-radius: var(--br-3xl);
  background-color: var(--color-blueviolet-200);
  overflow: hidden;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
  white-space: nowrap;
  color: var(--color-white-200);
}
.social-links {
  width: 262px;
  gap: var(--gap-smi);
}
.king-street-mesa {
  height: 26px;
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: 100%;
}
.logo-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  color: var(--color-slategray);
}
.social-links-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.order-b-t-n-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-facebook-9,
.logo-linkedin-3,
.logo-twitter-9,
.logo-youtube-3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.image-container,
.order-b-t-n {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.order-b-t-n {
  width: 336px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-39xl);
  max-width: 100%;
  color: var(--color-blueviolet-200);
}
.container-139 {
  margin-left: -13px;
  width: 1440px;
  background-color: var(--color-gray-300);
  overflow: hidden;
  flex-direction: row;
  padding: 67px var(--padding-88xl) var(--padding-60xl);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-manrope);
}
.container-139,
.restaurant-locations,
.restaurant1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.restaurant-locations {
  width: 1440px;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
  padding: 0 0 113px;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 102%;
}
.restaurant1 {
  width: 100%;
  height: 2237px;
  position: relative;
  background-color: var(--color-white-200);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .container-1311 {
    padding-top: var(--padding-12xl);
    padding-bottom: 688px;
    box-sizing: border-box;
  }
  .restaurant-logo {
    padding-right: 256px;
    padding-bottom: 328px;
    box-sizing: border-box;
  }
  .container-139 {
    flex-wrap: wrap;
  }
  .restaurant-locations {
    padding-bottom: 73px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1150px) {
  .container-1311 {
    padding-top: var(--padding-xl);
    padding-bottom: 447px;
    box-sizing: border-box;
  }
  .restaurant-logo {
    padding-bottom: 213px;
    box-sizing: border-box;
  }
  .restaurant-locations {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .locations-hours1 {
    font-size: var(--font-size-19xl);
    line-height: 54px;
  }
  .days-of-week {
    gap: var(--gap-mid);
  }
  .container-1311 {
    gap: var(--gap-lg);
  }
  .restaurant-logo {
    gap: var(--gap-5xl);
    padding-right: var(--padding-109xl);
    box-sizing: border-box;
  }
  .container-139 {
    padding-left: var(--padding-34xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
  .restaurant-locations {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .container-134 {
    gap: var(--gap-28xl);
  }
  .locations-hours1 {
    font-size: var(--font-size-10xl);
    line-height: 41px;
  }
  .frame-parent56 {
    gap: var(--gap-6xl);
  }
  .frame-parent60 {
    gap: var(--gap-7xl);
  }
  .frame-parent64,
  .frame-parent68,
  .frame-parent72 {
    gap: var(--gap-6xl);
  }
  .container-1311 {
    padding-bottom: 291px;
    box-sizing: border-box;
  }
  .button-62,
  .button-72 {
    flex: 1;
  }
  .order-button {
    flex-wrap: wrap;
  }
  .restaurant-logo {
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-119xl);
    box-sizing: border-box;
  }
  .menu-bar {
    flex-wrap: wrap;
  }
  .order-b-t-n {
    gap: var(--gap-10xl);
  }
  .container-139 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .restaurant1 {
    height: auto;
  }
}
