.pin-3-110 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pin-3-1-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-35xl);
}
.finder10 {
  color: var(--color-blueviolet-200);
}
.ekasi-spotfinder8 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.container-106-inner,
.frame-parent76 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent76 {
  align-self: stretch;
}
.container-106-inner {
  width: 124px;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.find5 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 34px;
}
.textbox-1-wrapper2,
.textbox-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox-15 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-300);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-7xs);
}
.textbox-1-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.search-icon5 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.text17 {
  height: 0;
  width: 0;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-manrope);
  color: var(--color-white-200);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.button-36,
.container-106,
.container-138 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-36 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-base) var(--padding-base);
  background-color: var(--color-blueviolet-200);
  border-radius: var(--br-7xl);
  overflow: hidden;
  justify-content: flex-start;
}
.container-106,
.container-138 {
  box-sizing: border-box;
  max-width: 100%;
}
.container-138 {
  width: 390px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 8px 17px rgba(23, 26, 31, 0.15);
  border-radius: var(--br-19xl);
  background-color: var(--color-white-200);
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-5xs);
  gap: var(--gap-76xl);
  color: var(--color-gray-300);
  font-family: var(--font-manrope);
}
.container-106 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: var(--color-gray-300);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-11xs) var(--padding-base) var(--padding-11xs)
    var(--padding-36xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white-200);
  font-family: var(--font-inter);
}
.image-57-icon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -1px;
  bottom: 0;
  max-height: 100%;
  object-fit: cover;
}
.are-you-looking,
.expand-your-world {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.expand-your-world {
  margin: 0;
  width: 491px;
  font-size: inherit;
  line-height: 88px;
  font-weight: 400;
  font-family: inherit;
}
.are-you-looking {
  width: 428px;
  line-height: 26px;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.find-your-perfect {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 30px;
  font-family: var(--font-manrope);
  color: var(--color-white-200);
  text-align: left;
}
.arrow-right-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow-right-wrapper {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.arrow-right-wrapper,
.button-70,
.button-70-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-70 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl) var(--padding-xl);
  background-color: var(--color-blueviolet-200);
  border-radius: 36px;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-smi);
  z-index: 1;
}
.button-70-wrapper {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.are-you-looking-for-the-perfec-parent,
.container-107 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.are-you-looking-for-the-perfec-parent {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-manrope);
}
.container-107 {
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-59xl) var(--padding-111xl) var(--padding-111xl) 131px;
  position: relative;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: 72px;
  color: var(--color-white-200);
  font-family: var(--font-lexend);
}
.upcoming-departures {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 52px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.icon-button-4,
.icon-button-5 {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-11xl);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 60px;
}
.icon-button-5-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.container-108-inner,
.upcoming-departures-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.upcoming-departures-parent {
  width: 1176px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.container-108-inner {
  width: 1412px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.avatar-25-icon,
.avatar-26-icon {
  position: absolute;
  top: 0;
  left: 27px;
  border-radius: var(--br-lg);
  width: 36px;
  height: 36px;
  overflow: hidden;
  object-fit: cover;
}
.avatar-26-icon {
  left: 0;
  z-index: 1;
}
.avatar-25-parent {
  height: 36px;
  flex: 1;
  position: relative;
}
.div18 {
  align-self: stretch;
  height: 26px;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.frame-parent78,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  width: 37px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.frame-parent78 {
  width: 109px;
  flex-direction: row;
  gap: var(--gap-4xs);
}
.image-60-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -185px;
  border-radius: var(--br-base) var(--br-base) 0 0;
  max-height: 100%;
  width: 332px;
  object-fit: cover;
}
.time-machine-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.time-machine-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.days-4-nights {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: pre-wrap;
}
.frame6 {
  position: absolute;
  top: 20px;
  left: -161px;
  border-radius: var(--br-sm);
  background-color: var(--color-white-200);
  width: 125px;
  height: 28px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  z-index: 1;
}
.image-60-parent {
  align-self: stretch;
  height: 275px;
  position: relative;
}
.container-111-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 217px;
  box-sizing: border-box;
  min-width: 96px;
  min-height: 492px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-300);
}
.container-111,
.container-111-wrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.container-111 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 var(--padding-9xl) var(--padding-13xl);
  gap: var(--gap-25xl);
  debug_commit: 1de1738;
}
.container-111-wrapper {
  margin-left: -356px;
  width: 332px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-21xl) 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-manrope);
}
.image-59-icon1 {
  height: 275px;
  width: 332px;
  position: relative;
  border-radius: var(--br-base) var(--br-base) 0 0;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.time-machine-icon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.time-machine-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.days-4-nights1 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-manrope);
  color: var(--color-darkslategray-300);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.frame7,
.image-59-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-white-200);
  border-radius: var(--br-sm);
  overflow: hidden;
  gap: var(--gap-9xs);
  z-index: 1;
}
.image-59-parent {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base) var(--br-base) 0 0;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.the-best-of {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
}
.avatar-23-icon,
.avatar-24-icon {
  position: absolute;
  top: 0;
  left: 27px;
  border-radius: var(--br-lg);
  width: 36px;
  height: 36px;
  overflow: hidden;
  object-fit: cover;
}
.avatar-24-icon {
  left: 0;
  z-index: 1;
}
.avatar-23-parent {
  height: 36px;
  flex: 1;
  position: relative;
}
.data-aggregator2 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 37px;
}
.data-aggregator-wrapper,
.frame-parent79 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-aggregator-wrapper {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frame-parent79 {
  width: 109px;
  flex-direction: row;
  gap: var(--gap-4xs);
  font-size: var(--font-size-base);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-manrope);
}
.the-best-of-golden-gate-a-tou-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-34xl);
}
.container-110,
.container-110-inner,
.container-110-wrapper,
.the-best-of-golden-gate-a-tou-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-110-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
}
.container-110,
.container-110-wrapper {
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.container-110 {
  align-self: stretch;
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  padding: 0 0 var(--padding-9xl);
  gap: var(--gap-xl);
  debug_commit: 1de1738;
}
.container-110-wrapper {
  height: 560px;
  width: 332px;
  padding: var(--padding-21xl) 0 0;
}
.image-58-icon {
  height: 352px;
  width: 384px;
  position: relative;
  border-radius: var(--br-base) var(--br-base) 0 0;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.time-machine-icon2 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.time-machine-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.days-3-nights {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-manrope);
  color: var(--color-darkslategray-300);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.input-processor,
.output-generator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.output-generator {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-white-200);
  border-radius: var(--br-sm);
  overflow: hidden;
  gap: var(--gap-9xs);
  z-index: 1;
}
.input-processor {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base) var(--br-base) 0 0;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.drakensberg-a {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 500;
  font-family: inherit;
}
.avatar-21-icon,
.avatar-22-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 36px;
  height: 36px;
  overflow: hidden;
  object-fit: cover;
}
.avatar-22-icon {
  left: 27px;
  z-index: 1;
}
.avatar-21-parent {
  height: 36px;
  flex: 1;
  position: relative;
}
.div19 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 50px;
}
.frame-parent80,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frame-parent80 {
  width: 122px;
  flex-direction: row;
  gap: var(--gap-4xs);
  font-size: var(--font-size-base);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-manrope);
}
.drakensberg-a-comprehensive-parent {
  flex: 1;
  flex-direction: column;
  gap: 38px;
}
.container-109,
.container-109-inner,
.drakensberg-a-comprehensive-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-109-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
}
.container-109 {
  height: 600px;
  width: 384px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  debug_commit: 1de1738;
  max-width: 100%;
  font-size: 28px;
}
.image-61-icon1 {
  height: 275px;
  width: 332px;
  position: relative;
  border-radius: var(--br-base) var(--br-base) 0 0;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.time-machine-icon3 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.time-machine-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.days-6-nights {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-manrope);
  color: var(--color-darkslategray-300);
  text-align: left;
  display: inline-block;
  min-width: 85px;
}
.frame8,
.image-61-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-white-200);
  border-radius: var(--br-sm);
  overflow: hidden;
  gap: var(--gap-9xs);
  z-index: 1;
}
.image-61-parent {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base) var(--br-base) 0 0;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.the-great-white {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
}
.avatar-27-icon,
.avatar-28-icon {
  position: absolute;
  top: 0;
  left: 27px;
  border-radius: var(--br-lg);
  width: 36px;
  height: 36px;
  overflow: hidden;
  object-fit: cover;
}
.avatar-28-icon {
  left: 0;
  z-index: 1;
}
.avatar-27-parent {
  height: 36px;
  flex: 1;
  position: relative;
}
.div20 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 50px;
}
.frame-parent81,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frame-parent81 {
  width: 122px;
  flex-direction: row;
  gap: var(--gap-4xs);
  font-size: var(--font-size-base);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-manrope);
}
.the-great-white-maluti-mountai-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-34xl);
}
.container-112,
.container-112-inner,
.container-112-wrapper,
.the-great-white-maluti-mountai-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-112-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
}
.container-112,
.container-112-wrapper {
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.container-112 {
  align-self: stretch;
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  padding: 0 0 var(--padding-9xl);
  gap: var(--gap-xl);
  debug_commit: 1de1738;
}
.container-112-wrapper {
  height: 560px;
  width: 332px;
  padding: var(--padding-21xl) 0 0;
}
.image-62-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base) var(--br-base) 0 0;
  max-height: 100%;
  width: 332px;
  object-fit: cover;
}
.time-machine-icon4 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.time-machine-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.days-4-nights2 {
  position: relative;
  line-height: 20px;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 88px;
}
.frame9 {
  position: absolute;
  top: 20px;
  left: 24px;
  border-radius: var(--br-sm);
  background-color: var(--color-white-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  z-index: 1;
}
.image-62-parent {
  height: 275px;
  flex: 1;
  position: relative;
}
.container-113-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 0 0;
}
.avatar-29-icon,
.avatar-30-icon {
  position: absolute;
  top: 0;
  left: 27px;
  border-radius: var(--br-lg);
  width: 36px;
  height: 36px;
  overflow: hidden;
  object-fit: cover;
}
.avatar-30-icon {
  left: 0;
  z-index: 1;
}
.avatar-29-parent {
  height: 36px;
  flex: 1;
  position: relative;
}
.div21 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.wrapper3 {
  width: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.container-113,
.frame-parent82,
.wrapper3 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent82 {
  width: 112px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-base);
  color: var(--color-deepskyblue-100);
}
.container-113 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 188px var(--padding-9xl) 0;
  gap: 181px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.container-108,
.container-113-wrapper,
.frame-parent77 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container-113-wrapper {
  width: 332px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-21xl) 0 0;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-300);
  font-family: var(--font-manrope);
}
.container-108,
.frame-parent77 {
  max-width: 100%;
}
.frame-parent77 {
  width: 1425px;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 158px 0 171px;
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-300);
}
.container-108 {
  margin-left: -1px;
  background-color: var(--color-gray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-77xl) var(--padding-sm) var(--padding-77xl)
    var(--padding-12xs);
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-slategray);
  font-family: var(--font-lexend);
}
.departure-date-range,
.select-date-range {
  position: relative;
  line-height: 26px;
}
.calendar-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.departure-date-range-parent,
.dropdown-button-2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.dropdown-button-2 {
  height: 45px;
  border-radius: var(--br-base);
  background-color: var(--color-white-200);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-mid) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-silver);
}
.departure-date-range-parent {
  height: 77px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.provinces {
  width: 106px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 26px;
  display: inline-block;
}
.frame-input9 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.free-state {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 77px;
}
.frame-parent85 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-input10 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.gauteng {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 64px;
}
.frame-parent86 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-input11 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.kzn {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 31px;
}
.frame-parent87 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-input12 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.eastern-cape {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 100px;
}
.frame-parent88 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-input13 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.western-cape {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 109px;
}
.frame-parent89 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-input14 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.limpopo {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 64px;
}
.frame-parent90 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-input15 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.mpumalanga {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 96px;
}
.frame-parent91 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-input16 {
  margin: 0;
  height: 23px;
  width: 20px;
}
.north-west {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 84px;
}
.frame-parent84,
.frame-parent92,
.provinces-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent92 {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frame-parent84,
.provinces-parent {
  flex-direction: column;
}
.provinces-parent {
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.frame-parent84 {
  width: 227px;
  gap: var(--gap-6xl);
}
.image-63-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.scotland-highland-clans {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.rating-14-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-1-icon,
.favorite-6-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-1-icon {
  left: 0;
}
.favorite-6-parent {
  align-self: stretch;
  height: 24px;
  position: relative;
}
.frame-wrapper12 {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.rating-14-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.scotland-highland-clans-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.container-115,
.container-115-inner,
.scotland-highland-clans-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-115-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-115 {
  height: 320px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.image-64-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.secrets-of-italy {
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.image-64-parent,
.secrets-of-italy-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secrets-of-italy-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.image-64-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.rating-15-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-2-icon,
.favorite-7-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-2-icon {
  left: 0;
}
.favorite-7-parent {
  align-self: stretch;
  height: 24px;
  position: relative;
}
.frame-wrapper13 {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.rating-15-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.container-116,
.container-116-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-116-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-116 {
  height: 320px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-39xl);
}
.image-65-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bhutan-festivals-and {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.rating-16-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-3-icon,
.favorite-8-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-3-icon {
  left: 0;
}
.favorite-8-parent {
  align-self: stretch;
  height: 24px;
  position: relative;
}
.frame-wrapper14 {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.rating-16-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bhutan-festivals-and-temples-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.container-117-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-115-parent,
.container-117,
.container-117-inner {
  align-items: flex-start;
  justify-content: flex-start;
}
.container-117 {
  height: 320px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.container-115-parent {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-5xl);
  grid-template-columns: repeat(3, minmax(207px, 1fr));
}
.image-66-icon,
.peru-machu-picchu {
  align-self: stretch;
  position: relative;
}
.image-66-icon {
  flex: 1;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.peru-machu-picchu {
  line-height: 28px;
  font-weight: 500;
}
.rating-17-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-12-icon,
.favorite-17-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.bookmark-12-icon {
  left: 0;
}
.favorite-17-parent {
  align-self: stretch;
  height: 24px;
  position: relative;
}
.frame-wrapper15 {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.rating-17-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.peru-machu-picchu-and-the-las-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.container-118,
.container-118-inner,
.peru-machu-picchu-and-the-las-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-118-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-118 {
  height: 320px;
  width: 275px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-67-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ancient-wonders-egypt {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.rating-18-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-4-icon,
.favorite-9-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-4-icon {
  left: 0;
}
.favorite-9-parent {
  align-self: stretch;
  height: 24px;
  position: relative;
}
.frame-wrapper16 {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.rating-18-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.ancient-wonders-egypt-the-n-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.ancient-wonders-egypt-the-n-parent,
.container-119,
.container-119-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-119-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-119 {
  height: 320px;
  width: 276px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-68-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.artisans-and-exiles {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.rating-19-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-5-icon,
.favorite-10-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-5-icon {
  left: 0;
}
.favorite-10-parent {
  align-self: stretch;
  height: 24px;
  position: relative;
}
.frame-wrapper17 {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.rating-19-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.artisans-and-exiles-exploring-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.artisans-and-exiles-exploring-parent,
.container-120,
.container-120-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-120-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-120 {
  height: 320px;
  width: 276px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-74-icon,
.maldives-lust-and {
  align-self: stretch;
  position: relative;
}
.image-74-icon {
  flex: 1;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.maldives-lust-and {
  line-height: 28px;
  font-weight: 500;
}
.rating-25-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-11-icon,
.favorite-16-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-11-icon {
  left: 0;
}
.favorite-16-parent {
  height: 24px;
  width: 52px;
  position: relative;
}
.rating-25-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.maldives-lust-and-romance-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.container-126,
.container-126-inner,
.maldives-lust-and-romance-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-126-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-126 {
  height: 320px;
  width: 275px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-70-icon,
.new-york-city {
  align-self: stretch;
  position: relative;
}
.image-70-icon {
  flex: 1;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.new-york-city {
  line-height: 28px;
  font-weight: 500;
}
.rating-21-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-7-icon,
.favorite-12-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-7-icon {
  left: 0;
}
.favorite-12-parent {
  height: 24px;
  width: 52px;
  position: relative;
}
.rating-21-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.new-york-city-place-of-hustle-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.container-122,
.container-122-inner,
.new-york-city-place-of-hustle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-122-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-122 {
  height: 320px;
  width: 276px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-69-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kuala-lumpur-islamic {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.rating-20-icon {
  height: 20px;
  width: 100px;
  position: relative;
}
.bookmark-6-icon,
.favorite-11-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-6-icon {
  left: 0;
}
.favorite-11-parent {
  height: 24px;
  width: 52px;
  position: relative;
}
.rating-20-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.container-121-inner,
.kuala-lumpur-islamic-motifs-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kuala-lumpur-islamic-motifs-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.container-121-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.container-121 {
  height: 320px;
  width: 276px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 2px 5px rgba(23, 26, 31, 0.09);
  border-radius: var(--br-5xs);
  background-color: var(--color-white-200);
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.container-118-parent,
.container-121,
.frame-parent93 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-118-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 22px;
  min-height: 664px;
}
.frame-parent93 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xl);
  min-width: 569px;
  max-width: 100%;
  font-size: var(--font-size-xl);
  font-family: var(--font-lexend);
}
.container-114-inner,
.frame-parent83 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent83 {
  width: 1176px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 74px;
}
.container-114-inner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-lgi);
  box-sizing: border-box;
}
.text18 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.text-wrapper4 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.chevron-left-large3 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-711 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-10xs);
  min-width: 23px;
}
.div22 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 6px;
}
.button-721 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 14.5px var(--padding-6xs) var(--padding-base-5);
}
.div23 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 8px;
}
.button-73 {
  flex: 0.5;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-smi);
  min-width: 23px;
  color: var(--color-blueviolet-200);
}
.div24 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 8px;
}
.button-74 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-sm);
}
.div25 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 9px;
}
.button-75 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-smi) var(--padding-6xs)
    var(--padding-sm);
}
.text19 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.text-wrapper5 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.menu-5-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-76 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-10xs);
  min-width: 23px;
}
.div26 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 14px;
}
.button-77 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
}
.div27 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 11px;
}
.button-78 {
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-smi-5);
}
.text20 {
  height: 0;
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.text-wrapper6 {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.chevron-right-large3 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-79 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-10xs);
  min-width: 23px;
}
.button-71-parent,
.container-114-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.button-71-parent {
  width: 358px;
  gap: var(--gap-9xs);
}
.container-114-child {
  width: 1134px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.pin-3-111 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.about2,
.discover-a-premier,
.faqs2 {
  position: relative;
  display: inline-block;
}
.discover-a-premier {
  align-self: stretch;
  height: 196px;
  line-height: 28px;
  flex-shrink: 0;
}
.about2,
.faqs2 {
  line-height: 24px;
  min-width: 60.2px;
}
.faqs2 {
  color: var(--color-lightslategray);
  min-width: 45px;
}
.about-parent {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.destinations,
.news,
.trips {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.destinations {
  color: var(--color-seashell);
  min-width: 127px;
}
.news,
.trips {
  min-width: 52px;
}
.news {
  min-width: 53px;
}
.destinations-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--color-lightslategray);
}
.community,
.events,
.podcasts,
.vlogs {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.community {
  color: var(--color-seashell);
  min-width: 110.4px;
}
.events,
.podcasts,
.vlogs {
  min-width: 46px;
}
.events,
.podcasts {
  min-width: 57px;
}
.podcasts {
  min-width: 79px;
}
.community-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 0;
  gap: var(--gap-base);
  color: var(--color-lightslategray);
}
.shop {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 50px;
}
.frame-parent95 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.discover-a-premier-digital-con-parent,
.frame-wrapper19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper19 {
  width: 656.6px;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  margin-top: -60px;
}
.discover-a-premier-digital-con-parent {
  width: 776px;
  flex-direction: column;
}
.frame-wrapper18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.subscribe-to-our2 {
  position: relative;
  line-height: 24px;
}
.mail-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.email2 {
  width: 40px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 26px;
  position: relative;
  line-height: 26px;
  color: var(--color-silver);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.dropdown-button-3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.frame-parent94,
.subscribe-to-our-channel-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.subscribe-to-our-channel-parent {
  width: 275px;
  gap: var(--gap-base);
  margin-top: -144px;
}
.frame-parent94 {
  align-self: stretch;
  min-height: 280px;
  max-width: 100%;
}
.container-114,
.container-127,
.container-127-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container-127-inner {
  width: 1172px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  max-width: calc(100% - 26px);
}
.container-114,
.container-127 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-49xl) 106px var(--padding-52xl);
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-seashell);
  font-family: var(--font-manrope);
}
.container-114 {
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-77xl) var(--padding-10xs) 0;
  gap: var(--gap-8xs);
  color: var(--color-gray-300);
}
.tour-guides1,
.tour-listing {
  background-color: var(--color-white-200);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tour-listing {
  width: 1440px;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  flex-direction: column;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 102%;
}
.tour-guides1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-parent77 {
    padding-left: var(--padding-66xl);
    padding-right: var(--padding-60xl);
    box-sizing: border-box;
  }
  .frame-parent83 {
    gap: var(--gap-18xl);
  }
  .container-114 {
    padding-top: var(--padding-43xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .expand-your-world {
    font-size: 58px;
    line-height: 70px;
  }
  .are-you-looking-for-the-perfec-parent {
    flex-wrap: wrap;
  }
  .upcoming-departures {
    font-size: var(--font-size-19xl);
    line-height: 42px;
  }
  .container-108 {
    padding-top: var(--padding-43xl);
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
  .container-114 {
    padding-top: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .container-106 {
    padding-left: var(--padding-8xl);
    box-sizing: border-box;
  }
  .container-107 {
    gap: var(--gap-base);
    padding: var(--padding-32xl) 65px var(--padding-65xl);
    box-sizing: border-box;
  }
  .upcoming-departures-parent {
    flex-wrap: wrap;
  }
  .container-111-inner {
    padding-bottom: var(--padding-122xl);
    box-sizing: border-box;
  }
  .frame-parent77 {
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .container-108 {
    gap: var(--gap-xl);
  }
  .container-115-parent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(207px, 359px));
  }
  .frame-parent93 {
    min-width: 100%;
  }
  .frame-parent83 {
    gap: var(--gap-lg);
  }
  .frame-parent95 {
    flex-wrap: wrap;
  }
  .container-127 {
    padding-left: var(--padding-34xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .container-138 {
    gap: var(--gap-28xl);
  }
  .expand-your-world {
    font-size: 43px;
    line-height: 53px;
  }
  .find-your-perfect {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .container-107 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .upcoming-departures {
    font-size: var(--font-size-10xl);
    line-height: 31px;
  }
  .container-111 {
    flex-wrap: wrap;
    gap: var(--gap-3xl);
    padding-left: var(--padding-xl);
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .the-best-of {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .the-best-of-golden-gate-a-tou-parent {
    gap: var(--gap-7xl);
  }
  .drakensberg-a {
    font-size: 22px;
    line-height: 34px;
  }
  .drakensberg-a-comprehensive-parent {
    gap: var(--gap-lgi);
  }
  .the-great-white {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .the-great-white-maluti-mountai-parent {
    gap: var(--gap-7xl);
  }
  .container-113 {
    gap: 90px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent77 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .container-108 {
    padding-top: var(--padding-21xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .scotland-highland-clans,
  .secrets-of-italy {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .container-116 {
    gap: var(--gap-10xl);
  }
  .bhutan-festivals-and {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .container-115-parent {
    grid-template-columns: minmax(207px, 1fr);
  }
  .ancient-wonders-egypt,
  .artisans-and-exiles,
  .kuala-lumpur-islamic,
  .maldives-lust-and,
  .new-york-city,
  .peru-machu-picchu {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .button-73 {
    flex: 1;
  }
  .button-71-parent {
    flex-wrap: wrap;
  }
  .container-127 {
    padding: var(--padding-25xl) var(--padding-xl) 46px;
    box-sizing: border-box;
  }
  .container-114 {
    padding-top: var(--padding-7xl);
    box-sizing: border-box;
  }
}
